<main class="container">
<h1>
  Ajout d'un produit
</h1>
<form #productForm="ngForm" (ngSubmit)="saveProduct()">
  <div class="form-group">
    <label for="name">Nom</label>
    <input required max="100" [(ngModel)]="product.name" type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Nom du produit">
  </div>
  <div class="form-group">
    <label for="introduction">Introduction</label>
    <textarea required maxlength="1000" [(ngModel)]="product.introduction" class="form-control" id="introduction" rows="3" name="introduction"></textarea>
  </div>
  <div class="form-group">
    <label for="price">Prix</label>
    <input pattern="^\d+([.]\d+)*$" [(ngModel)]="product.price" type="text" class="form-control" id="price" name="price" aria-describedby="emailHelp" placeholder="Prix du produit">
  </div><br>
  <div class="form-check">
    <input required maxlength="100" [(ngModel)]="product.isPublished" class="form-check-input" type="checkbox" value="" id="published" name="published">
    <label  class="form-check-label" for="published">
      Le produit doit-il être publié ?
    </label><br>
    <br>
  </div>
  <div class="form-group">
    <label for="publisher">Publicateur</label>
    <input [(ngModel)]="product.publisher" type="text" class="form-control" id="publisher" name="publisher" placeholder="Nom du Publicateur">
  </div><br>

  <input [disabled]="!productForm.form.valid" type="submit" class="btn btn-primary" value="Créer">
</form><br>
<div>
<pre>{{ product | json }}</pre>
</div>
</main>
