<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/produits">Liste des Produits <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/produits/ajout">Ajout de produit</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Détail de produit
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/produits/detail/5b165bc99c51c910504017a7">Hamac</a>
                <a class="dropdown-item" routerLink="/produits/detail/5b165dad357ad90dec5bf1ae">Transat</a>
                <a class="dropdown-item" routerLink="/produits/detail/5b17bebd88d2fe06e88451ea">Tongue</a>
                <a class="dropdown-item" routerLink="/produits/detail/5b17bf2d88d2fe06e88451eb">Serviette</a>
                <a class="dropdown-item" routerLink="/produits/detail/5b18d94874eb5315b06ea988">Carte postale</a>
                
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
</header>

<router-outlet></router-outlet>


 <!-- footer -->
 <div class="footer">
  <div class="container">
      <div class="row ">
          <!-- footer-about -->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
              <div class="footer-widget ">
                  <div class="footer-title">Company</div>
                  <ul class="list-unstyled">
                      <li><a href="#">About</a></li>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Press</a></li>
                      <li><a href="#">Legal & Privacy</a></li>
                  </ul>
              </div>
          </div>
          <!-- /.footer-about -->
          <!-- footer-links -->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
              <div class="footer-widget ">
                  <div class="footer-title">Quick Links</div>
                  <ul class="list-unstyled">
                      <li><a href="#">News</a></li>
                      <li><a href="#">Contact us</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div>
          </div>
          <!-- /.footer-links -->
          <!-- footer-links -->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
              <div class="footer-widget ">
                  <div class="footer-title">Social</div>
                  <ul class="list-unstyled">
                      <li><a href="#">Twitter</a></li>
                      <li><a href="#">Google +</a></li>
                      <li><a href="#">Linked In</a></li>
                      <li><a href="#">Facebook</a></li>
                  </ul>
              </div>
          </div>
          <!-- /.footer-links -->
          <!-- footer-links -->
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
              <div class="footer-widget ">
                  <h3 class="footer-title">Subscribe Newsletter</h3>
                  <form>
                      <div class="newsletter-form">
                          <input class="form-control" placeholder="Enter Your Email address" type="text">
                          <button class="btn btn-default btn-sm" type="submit">Go</button>
                      </div>
                  </form>
              </div>
          </div>
          <!-- /.footer-links -->
          <!-- tiny-footer -->
      </div>
      <div class="row ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
              <div class="tiny-footer">
                  <p>Copyright © All Rights Reserved 2020 | Template Design & Development by <a href="https://easetemplate.com/downloads/bitcoin-cryptocurrency-website-template-amazing-design " target="_blank" class="copyrightlink">EaseTemplate</a></p>
              </div>
          </div>
          <!-- /. tiny-footer -->
      </div>
  </div>
</div>
<!-- /.footer -->
                      
